:root {
  --primary-color: #16b;
  --primary-color-outset-border: #27c;

  --secondary-color: #ba3720;
  --secondary-color-light: #de1c0f;
  --secondary-color-lighter: #e71d0f;
}

body {
	font-family: helvetica, sans-serif;
	text-align: center;
	margin: 0px;
  user-select: none;
  display: grid;
  height: 100vh;
  grid-template: auto auto 1fr / 3fr auto; /* Header and right column */
  background-color: #eee;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

p {
  text-align: center;
}

/* Header */

#animationHeader {
  grid-column: 2 / 3;
}

header {
  grid-column: 1 / 3;
  padding: 12px;
  margin: 0px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: 2px 2px #000;
}

#headerButtons {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 15px;
}

#headerButtons .material-icons {
  font-size: 30px;
}

.subHeader {
  padding: 2px;
  background-color: #ccc;
  font-weight: bold;
  z-index: 10000;
  position: sticky;
  top: 0;
}

.subHeader .material-icons {
  vertical-align: -6px;
  padding: 0 10px;
}


/* Main */
main {
  grid-column: 1 / 2;
  overflow: auto;
  resize: horizontal;
  min-width: calc(-512px + 100vw);
  max-width: calc(-256px + 100vw);
}

#animationArea {
  grid-column: 2 / 3;
}



/* Material Icons */

.material-icons.load {
  opacity: 0;
}

.white-button {color: #fff; cursor: pointer;}
.white-button:hover {color: #ddd;}
.white-button:active {color: #eee;}

.black-button {color: #000; cursor: pointer;}
.black-button:hover {color: #555;}
.black-button:active {color: #777;}

.button-active {color: var(--secondary-color);}
.button-active:hover {color: var(--secondary-color-light);}
.button-active:active {color: var(--secondary-color-lighter);}

/* Tabs */

#tabHeader {
  grid-column: 1 / 2;
}

.tabSwitcher {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0 0 0 14px;
  color: #444;
  border: 1px solid #ccc;
}

.tabSwitcher:hover {
  text-decoration: underline;
  border-color: #aaa;
  color: #444;
}

.tabSwitcher:active {
  border-color: #999;
  background-color: #ddd;
  color: #222;
}

.tabSwitcher.active {
  cursor: default;
  text-decoration: underline;
  border-color: #888;
  background-color: #eee;
  color: #000;
}

.tab {
  display: none; 
  width: 100%;
  height: 100%;
}

.tab.active {
  display: block;
}
