.overlay {
  display: none;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  min-width: 180px;
  padding: 0 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 5px 5px 5px #0005;
}

#overlayBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0005;
}

#closeInfoAreaButton {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}

#dropArea p {
  pointer-events: none;
  font-size: 1.2em;
  margin: 20px 0;
}

#droparea .material-icons {
  font-size: 10em;
  color: #444;
}

#dropArea .small {
  font-size: 1em;
  color: #444;
}

#messageArea {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10%;
  right: 10%;
  background-color: #222;
  color: #FFF;
  text-align: left;
  padding: 10px;
}
