#timelineArea {
  position: relative;
  padding: 0px;
  background-color: #ddd;
  text-align: left;
	table-layout: fixed;
}

#timelineArea table {
  width: 100%;
  height: auto;
}

#currentFrameValue {
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

/* Top row (current frame and frame blocks) */

#currentFrame {
  /* background-color: #bbb; */
  padding: 5px;
}

#frameBlocks {
  white-space: nowrap;
}

#frameBlocks span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow-x: visible;
  padding: 6px 0 0 0;
}

/* Layer rows  */

.layer {
  border-bottom: solid #bbb 1px;
	white-space: nowrap;
}

.layer td {
  padding: 0px;
}

.layer .material-icons {
  vertical-align: -5px;
}

.layer-holder {
  border-bottom: solid #bbb 1px;
	position: relative;
	width: 100%;
  height: 1.6em;
  overflow: hidden;
}

.layer-name {
  margin: 0px;
  padding: 3px;
}

.layer-value {
  margin: 0px -3px;
  padding: 3px 3px;
}

.layer-name[contenteditable=true], .layer-value {
  color: #16b;
  font-weight: bold;
}

.layer-name[contenteditable=true]:hover, .layer-value:hover {
  background-color: #ccc;
}

.layer-name[contenteditable=true]:focus, .layer-value:focus {
  background-color: #d0d0d0;
}

.layer-child-value {
	margin-left: 16px;
}

/* Layer bar stuff */
.layer-bar {
  position: absolute;
  border: outset #27c 3px;
  background-color: #16b;
  top: 4px;
	height: 1.0em;
}

.layer-bar-end {
  position: absolute;
  cursor: ew-resize;
  background-color: #99f0;
  opacity: 0;
  top: 0;
  width: 8px;
  bottom: 0;
  margin: 0 -4px;
  z-index: 100;
}

.dropdown-closed {
  transform: rotate(-90deg);
}
