#timelineArea {
  position: relative;
  padding: 0px;
  text-align: left;
	table-layout: fixed;
  background-color: #ddd;
  overflow-x: hidden;
}

#timelineAreaTable {
  width: 100%;
  height: auto;
  background-color: #ddd;
}

/* Top row (current frame and frame blocks) */

#currentFrame {
  padding: 5px;
  border-bottom: solid #bbb 2px;
}

#currentFrameValue {
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

#timelineHeader {
  border-bottom: solid #bbb 2px;
  position: relative;
}

#frameBlocks {
  white-space: nowrap;
}

#frameBlocks span {
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow-x: visible;
  padding: 6px 0 0 0;
}

/* Frame marker (blue line through timeline indicating the current frame) */

#frameMarker {
  position: absolute;
  cursor: ew-resize;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 1px #0006;
}

/* Layer rows  */

.layer {
  border-bottom: solid #bbb 1px;
	white-space: nowrap;
}

.layer td {
  padding: 0px;
}

.layer .material-icons {
  vertical-align: -5px;
}

.layer-holder {
  border-bottom: solid #bbb 1px;
	position: relative;
	width: 100%;
  height: 1.6em;
  overflow: hidden;
}

.layer-name {
  margin: 0px;
  padding: 3px;
}

.layer-value, #currentFrameValue {
  margin: 0px -3px;
  padding: 3px 3px;
}

.layer-name[contenteditable=true], .layer-value {
  color: var(--primary-color);
  font-weight: bold;
}

.layer-name[contenteditable=true]:hover, .layer-value:hover, #currentFrameValue:hover {
  background-color: #ccc;
}

.layer-name[contenteditable=true]:focus, .layer-value:focus, #currentFrameValue:focus {
  background-color: #d0d0d0;
}

.layer-child-value {
	margin-left: 16px;
}

/* Layer bar stuff */
.layer-bar {
  position: absolute;
  border: outset var(--primary-color-outset-border) 3px;
  background-color: var(--primary-color);
  top: 4px;
	height: 1.0em;
}

.layer-bar-end {
  position: absolute;
  cursor: ew-resize;
  background-color: #99f0;
  opacity: 0;
  top: 0;
  width: 8px;
  bottom: 0;
  margin: 0 -4px;
  z-index: 100;
}

.dropdown-closed {
  transform: rotate(-90deg);
}
