body {
	font-family: Arial;
	text-align: center;
	background-color: #D9D5B7;
}

#content {
	width: 800px;
	margin: 40px auto 80px auto;
	padding: 40px;
	background-color: #FFFFFF;
	text-align: left;
	box-shadow: 0px 0px 12px #92926E;
}

h1 {
	font-size: 4.5em;
	padding-bottom: 0px;
	margin: 0px;
}

h2 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.6em;
	margin: 0px
}

h3 {
	font-size: 2.5em;
	background-color: #C1E9FF;
	padding: 20px 40px 20px 40px;
	margin-left: -40px;
	margin-right: -40px;
}

h4 {
	margin: 0px;
}

p {
	margin: 0px 0px 1em 0px;
}

canvas {
	width: 380px;
	height: 380px;
	border-top: 1px solid #C8C8C8;
	border-right: 2px solid #C8C8C8;
	border-bottom: 2px solid #C8C8C8;
	border-left: 1px solid #C8C8C8;
	margin-bottom: 1em;
}

img {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

ul {
	margin: 0px 0px 1em 0px;
}

.noMargin {
	margin: 0px;
}

.noMarginCentered {
	margin: 0px;
	text-align: center;
}

.centered {
	text-align: center;
}

.attention {
	text-align: center;
	color: red;
	text-shadow: 0px 0px 4px #FFFF99;
}

.wrapper {
	display: block;
	overflow: hidden;
	width: 100%;
}

.column {
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
}

.column2 {
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.column3 {
	display: inline-block;
	position: relative;
	float: left;
	width: 33.33%;
	text-align: center;
}

.column4 {
	display: inline-block;
	position: relative;
	float: left;
	width: 25%;
}

.columnNo {
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

#QR-Code-Reader {
	background-color: #EEEEEE;
	padding: 0px 40px 20px 40px;
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: 3em;
}

#QR-Code-Reader-Header .column2 {
	display: inline-block;
	position: relative;
	float: left;
	width: 540px;
	padding: 0px 10px 0px 10px;
	text-align: center;
}

#QR-Code-Reader-Header .column4 {
	display: inline-block;
	position: relative;
	float: left;
	width: 120px;
	height: 60px;
	text-align: center;
}

.QRCodes {
	text-align: right;
}

footer {
	text-align: center;
	font-size: 0.75em;
	margin-top: 3em;
}