body {
	font-family: helvetica, sans-serif;
	text-align: center;
	margin: 0px;
  user-select: none; 
  min-width: 500px;
}

svg {
  height: auto !important;
}

#header {
  position: relative;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  background-color: #16b;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 15px;
  height: 30px;
  margin: 0px;
}

#headerButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 15px;
}

.material-icons {
  opacity: 0;
}

#headerButtons .material-icons {
  font-size: 30px;
}

.white-button {color: #fff; cursor: pointer;}
.white-button:hover {color: #ddd;}
.white-button:active {color: #eee;}

.black-button {color: #000; cursor: pointer;}
.black-button:hover {color: #555;}
.black-button:active {color: #777;}

#content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
  background-color: #eee;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ccc;
  height: 30px;
}

th .material-icons {
  vertical-align: -6px;
  padding: 0 10px;
}

p {
  text-align: center;
}

#IOdivider {
  padding: 8px;
}

#animationArea {
  display: inline-block;
  background-image: url("background.jpg");
  background-size: 16px 16px;
  background-repeat: repeat;
  border: solid black 1px;
  user-select: none; 
}

#codeArea {
  width: 100%;
  height: 100%;
}

#messageArea {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10%;
  right: 10%;
  background-color: #222;
  color: #FFF;
  text-align: left;
  padding: 10px;
}

.overlay {
  display: none;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  min-width: 180px;
  padding: 0 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ccc;
  box-shadow: 5px 5px 5px #0005;
}

#closeInfoAreaButton {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}

#dropArea p {
  pointer-events: none;
  font-size: 1.2em;
  margin: 20px 0;
}

#droparea .material-icons {
  font-size: 10em;
  color: #444;
}

#dropArea .small {
  font-size: 1em;
  color: #444;
}