body {
    margin: 0;
    padding: 8px 8px 8px 8px;
    scrollbar-color: dark;
    overflow-y: scroll;
    color: #0F0;
}

body,
input {
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

.new_line {
    white-space: pre-wrap;
}

table {
    margin: 1em 1ch;
    border-collapse: separate;
    border-spacing: 1ch 0;
}

td {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.indent,
.error {
    padding-left: 1ch;
}

.inputLines,
input,
.dark_green {
    color: #0a0;
}

.gray {
    color: #777;
}

.error {
    color: #a00;
}

#input {
    width: 80%;
    border: none;
    padding: 0;
    margin: 0;
}