#game {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#level {
	opacity: 0.3;
}

#level table {
	background-color: #111;
	margin: 0px auto;
	width: 200px;
	border: 3px inset #ddd;
	box-shadow: 2px 2px 2px #000C;
}

#level td {
	border: 4px outset #fff;
	background-color: #444;
	color: #fff;
	padding: 15px 20px;
	margin: 0px auto;
	text-align: center;
	font-size: 1.5em;
	cursor: default;
	shadow: none;
	z-index: -1000;
}

#level td.allowed {
	cursor: pointer;
}

#level td.allowed:hover {
	border: 4px inset #ddd;
	background-color: #222;
}

#level td.allowed:active,
#level td.active {
	border: 4px inset #ff6;
	background-color: #442;
	color: #ff6;
	text-shadow: 0px 0px 5px #fff;
	box-shadow: 0px 0px 15px #fff;
	z-index: -900 !important;
}

#level td.wrong {
	border: 4px inset #f22;
	background-color: #411;
	color: #f22;
	text-shadow: 0px 0px 5px #fff;
	box-shadow: 0px 0px 15px #fff;
	z-index: -900 !important;
}

#progressBar {
	position: relative;
	font-size: 1.2em;
	width: 200px;
	margin: 12px auto;
	border: 3px inset #ddd;
	box-shadow: 2px 2px 2px #000C;
}

#progressBarFillUser {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #444;
	z-index: -10;
}

#progressBarFillPreview {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 100%;
	background-color: hsl(228, 64%, 11%);
	;
	z-index: -9;
}

#skipButton {
	margin: 0px;
	width: 60px;
	height: 30px;
}

#skipIcon {
	position: absolute;
	font-size: 160px;
	width: 100%;
	left: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}