body {
  background-color: #EAE6E5;
  min-width: 300px;
}

*:focus {
    outline: none; /*Removes outline of buttons*/
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #999;
  text-align: center;
  z-index: 50;
}
#footer hr {
  height: 0.5px;
  width: 80%;
  background-color: #DDD;
  color: #DDD;
  border-color: #DDD;
  border-style: solid;
}
#footer p {
  margin: 6px 0px;
}
#footer a {
  color: #888;
}

#buttonDiv {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#buttonDiv button {
  background-color: #4272DE;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px 80px;
  text-align: center;
  text-shadow: 3px 3px 0px black,
               2px 2px 0px black,
               1px 1px 0px black;
  font-family: Impact, Charcoal, "Arial Black", sans-serif;
  font-size: 50px;
  letter-spacing: 8px;
  -webkit-transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #9DBFFC,
              9px 9px #9DBFFC,
              8px 8px #9DBFFC,
              7px 7px #9DBFFC,
              6px 6px #9DBFFC,
              5px 5px #9DBFFC,
              4px 4px #9DBFFC,
              3px 3px #9DBFFC,
              2px 2px #9DBFFC,
              1px 1px #9DBFFC,
              10px 10px 50px black;
}
#buttonDiv button:hover {
  background-color: #3B6AC6;
  transform: translate(-10px, -10px);
}
#buttonDiv button:active {
  background-color: #3662B5;
  box-shadow: 5px 5px #98B9F2,
              4px 4px #98B9F2,
              3px 3px #98B9F2,
              2px 2px #98B9F2,
              1px 1px #98B9F2,
              5px 5px 30px black;
  transform: translate(-5px, -5px);
}

#menuButton {
  position: fixed;
  left: 10px;
  top: 10px;
  border: none;
  background: none;
  z-index: 100;
  cursor: pointer;
}
#menuButton svg {
  display: inline-block;
  height: 24px;
  width: 24px;
  user-select: none;
  color: #BBB;
  fill: #BBB;
}
#menuButton:hover svg {
  color: #999;
  fill: #999;
}
#menuButton:active svg {
  color: #777;
  fill: #777;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 400;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.5s ease;
}
#overlay.hidden {
  background-color: rgba(0,0,0,0);
}

#menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  background: #CCC8C7;
  transition: left 0.5s ease;
  z-index: 500;
  font-family: Arial, sans-serif;
  color: #555;
}
#menu.hidden {
  left: -300px;
}
#menu h1 {
  text-align: center;
  margin: 15px 15px 0 15px;
}
#menu h2 {
  margin: 15px 15px 0 15px;
}
#menu p {
  margin: 0 15px;
  color: #666;
}

#bookmark {
  color: #555;
  font-style: italic;
  font-weight: 800;
}
