body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 32px 32px 202px 32px;
}

input[type="range"] {
	position: relative;
	margin-top: 6px;
	top: -4px;
	-webkit-appearance: none;
	appearance: none;
	width: 120px;
	height: 3px;
	border-radius: 1.5px;
	background: #eee;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
	background: #aaa;
  cursor: pointer;
}

p {
	margin: 0.5em auto 0.5em auto;
}

h3 {

	margin: 0.5em auto 0.2em auto;
}

table {
	margin: 0.5em auto 0.5em auto;
	border-collapse: collapse;
	border: none;
}
td {
	padding: 0 8px 0 8px;
	text-align: center;
	border-left: 3px solid #eee;
}
table td:first-child {
	border-left: none;
}

#keys {
	position: fixed;
	bottom: 10px;
	left: 50%;
	height: 160px;
	width: 800px;
	margin-left: -400px;
	background-color: #999;
}

.whiteKeys {
	/* position: absolute; */
	background-color: white;
	font-weight: bold;
	padding-top: 15%;
	height: 100%;
	cursor: pointer;
}

.blackKeys {
	position: absolute;
	top: 0px;
	background-color: black;
	font-weight: bold;
	color: white;
	padding-top: 8%;
	height: 60%;
	cursor: pointer;
}
