body {
	background-color: hsl(228, 64%, 11%);
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', monospace;
	text-shadow: 2px 2px 2px #000C;
	margin: 40px;
	min-width: 230px;
}

h1 {
	font-size: 2em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 1.2em;
}

p {
  font-weight: 300;
}

a:link, a:visited {
	color: #ff8;
}

a:hover {
	color: #88f;
}

#content {
	width: 95%;
	max-width: 960px;
	margin: auto;
	text-align: justify;
}

.centered {
	text-align: center;
}
